body {
	font-family: Arial, sans-serif;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

h1 {
	color: #000;
}

#menu {
	background-color: aliceblue;
	border: 2px solid black;
	padding-left: 1rem;
	padding-right: 1rem;
	width: fit-content;
}

#menu-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

button {
	font-size: large;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#content {
	width: 80%;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.table-label {
	font-weight: 600;
}

#users-table th,
#users-table td {
	border: 1px solid black;
	padding: 0.5rem;
}

#users-table {
	border: 1px solid black;
	background-color: white;
	border-collapse: collapse;
	width: 100%;
}

form {
	border: 1px solid black;
	background-color: white;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

#form-inputs {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem;
	font-size: large;
}

input {
	font-size: large;
}

form>button {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.form-label {
	font-weight: 600;
}